{% extends "blog/base.html" %}
{% block content %}
<h1>Welcome to My Blog</h1>
<hr>
{% for post in posts %}
  <div class="mb-4">
    <h2><a href="/blog/{{ post.slug }}/">{{ post.title }}</a></h2>
    <p><small>By {{ post.author }} | {{ post.timestamp }}</small></p>
    <p>{{ post.content|truncatechars:200 }}</p>
  </div>
{% endfor %}
<div class="pagination">
  {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Previous</a>
  {% endif %}
  <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
  {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endblock %}